div {
  background-color: black;
  position: absolute;
}

/* Parameter: */
/* Regeln */
.el-1 {
  top: 20%;
  bottom: 40%;
  left: 80%;
  right: 10%;
}

.el-2 {
  top: 5%;
  bottom: 600px;
  left: 30%;
  right: 30%;
}

.el-3 {
  top: 40%;
  bottom: 40%;
  left: 200px;
  right: 40%;
  transform: rotate(45deg);
}

.el-4 {
  top: 20%;
  bottom: 40%;
  left: 65%;
  right: 30%;
  transform: rotate(45deg);
}
